<div class="inline-block">
    <select class="hours"
            name="{{namePrefix}}Hours"
            ng-disabled="$ctrl.isDisabled"
            ng-change="$ctrl.onChange()"
            ng-required="$ctrl.isRequired"
            ng-model="$ctrl.model.hours"
            ng-options="hour as $ctrl.padNumber(hour) for hour in $ctrl.selectOptions.hours"
            ng-class="$ctrl.selectClass">
    </select>
    <select class="minutes"
            name="{{namePrefix}}Minutes"
            ng-disabled="$ctrl.isDisabled"
            ng-change="$ctrl.onChange()"
            ng-required="$ctrl.isRequired"
            ng-model="$ctrl.model.minutes"
            ng-options="minute as $ctrl.padNumber(minute) for minute in $ctrl.selectOptions.minutes"
            ng-class="$ctrl.selectClass">
    </select>
    <select class="seconds"
            name="{{namePrefix}}Seconds"
            ng-show="!$ctrl.hideSeconds"
            ng-disabled="$ctrl.isDisabled"
            ng-change="$ctrl.onChange()"
            ng-required="$ctrl.isRequired"
            ng-model="$ctrl.model.seconds"
            ng-options="second as $ctrl.padNumber(second) for second in $ctrl.selectOptions.seconds"
            ng-class="$ctrl.selectClass">
    </select>
    <select class="hour-types"
            name="{{namePrefix}}HourType"
            ng-show="!$ctrl.use24HourTime"
            ng-disabled="$ctrl.isDisabled"
            ng-change="$ctrl.onChange()"
            ng-model="$ctrl.model.hourType"
            ng-options="hourType as hourType for hourType in $ctrl.selectOptions.hourTypes"
            ng-required="$ctrl.isRequired"
            ng-class="$ctrl.selectClass">
    </select>
</div>