.cron-gen-main {
  .cron-gen-container {
    margin-top: 10px;

    .cron-gen-radio {
      width: 20px;
      display: inline-block;
    }

    .cron-gen-select, .cron-gen-input, .cron-gen-checkbox {
      display: inline-block;
    }

    .well-time-wrapper {
      padding-left: 20px;
    }

    .inline-block {
      display: inline-block;
    }

    .minutes, .hours, .days, .seconds {
      width: 70px;
    }

    .minute-seconds {
      width: 95px;
    }

    .months {
      width: 120px;
    }

    .month-days {
      width: 130px;
    }

    .months-small {
      width: 60px;
    }

    .day-order-in-month {
      width: 95px;
    }

    .week-days {
      width: 120px;
    }

    .advanced-cron-gen-input {
      width: 200px;
    }

    .hour-types {
      width: 70px;
    }
  }
}
