<!doctype html>
<div class="cron-gen-main" ng-cloak>
    <ul class="nav nav-tabs tab-nav" role="tablist">
        <li ng-class="{'active': state.activeTab === 'minutes'}"
            ng-show="!state.minutes.isHidden"
            role="presentation">
            <a href="#"
               aria-controls="minutes"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'minutes', ngDisabled)">
                Minutes
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.hourly.isHidden"
            ng-class="{'active': state.activeTab === 'hourly'}">
            <a href="#"
               aria-controls="hourly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'hourly', ngDisabled)">
                Hourly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.daily.isHidden"
            ng-class="{'active': state.activeTab === 'daily'}">
            <a href="#"
               aria-controls="daily"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'daily', ngDisabled)">
                Daily
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.weekly.isHidden"
            ng-class="{'active': state.activeTab === 'weekly'}">
            <a href="#" aria-controls="weekly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'weekly', ngDisabled)">
                Weekly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.monthly.isHidden"
            ng-class="{'active': state.activeTab === 'monthly'}">
            <a href="#"
               aria-controls="monthly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'monthly', ngDisabled)">
                Monthly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.yearly.isHidden"
            ng-class="{'active': state.activeTab === 'yearly'}">
            <a href="#"
               aria-controls="yearly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'yearly', ngDisabled)">
                Yearly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.advanced.isHidden"
            ng-class="{'active': state.activeTab === 'advanced'}">
            <a href="#"
               aria-controls="advanced"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'advanced', ngDisabled)">
                Advanced
            </a>
        </li>
    </ul>
    <div class="cron-gen-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane"
                         ng-show="!state.minutes.isHidden"
                         ng-class="{'active': state.activeTab === 'minutes'}">
                        Every
                        <input class="minutes"
                               type="number"
                               min="1"
                               max="59"
                               ng-disabled="ngDisabled"
                               ng-change="regenerateCron(state)"
                               ng-model="state.minutes.minutes"
                               ng-required="state.activeTab === 'minutes'"
                               ng-class="state.formInputClass">
                        minute(s)
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.hourly.isHidden"
                         ng-class="{'active': state.activeTab === 'hourly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="every"
                                   name="hourly-radio"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.hourly.subTab"
                                   ng-class="state.formRadioClass"
                                   checked="checked">
                            Every
                            <input class="hours"
                                   type="number"
                                   min="1"
                                   max="23"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.hourly.every.hours"
                                   ng-required="state.activeTab === 'hourly' && state.hourly.subTab === 'every'"
                                   ng-class="state.formInputClass">
                            hour(s)
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specific"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.hourly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="hourly-radio">
                            At
                            <select class="hours"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.hourly.specific.hours"
                                    ng-options="hour as padNumber(hour) for hour in selectOptions.hours"
                                    ng-required="state.activeTab === 'hourly' && state.hourly.subTab === 'specific'"
                                    ng-class="state.formSelectClass">
                            </select>
                            <select class="minutes"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.hourly.specific.minutes"
                                    ng-options="minute as padNumber(minute) for minute in selectOptions.minutes"
                                    ng-required="state.activeTab === 'hourly' && state.hourly.subTab === 'specific'"
                                    ng-class="state.formSelectClass">
                            </select>
                        </div>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.daily.isHidden"
                         ng-class="{'active': state.activeTab === 'daily'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="everyDays"
                                   name="daily-radio"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.daily.subTab"
                                   ng-class="state.formRadioClass"
                                   checked="checked">
                            Every
                            <input class="days"
                                   type="number"
                                   min="1"
                                   max="31"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.daily.everyDays.days"
                                   ng-required="state.activeTab === 'daily' && state.daily.subTab === 'everyDays'"
                                   ng-class="state.formInputClass">
                            day(s)
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="everyWeekDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.daily.subTab"
                                   ng-class="state.formRadioClass"
                                   name="daily-radio">
                            Every week day (Monday through Friday)
                        </div>

                        Start time
                        <select class="hours"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'daily'"
                                ng-model="state.daily.hours"
                                ng-options="hour as padNumber(hour) for hour in selectOptions.hours"
                                ng-class="state.formSelectClass">
                        </select>
                        <select class="minutes"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'daily'"
                                ng-model="state.daily.minutes"
                                ng-options="minute as padNumber(minute) for minute in selectOptions.minutes"
                                ng-class="state.formSelectClass">
                        </select>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.weekly.isHidden"
                         ng-class="{'active': state.activeTab === 'weekly'}">
                        <div class="well well-small">
                            <div class="span6 col-sm-6">
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.MON"
                                       ng-class="state.formInputClass">
                                Monday<br>
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.WED"
                                       ng-class="state.formInputClass">
                                Wednesday<br>
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.FRI"
                                       ng-class="state.formInputClass">
                                Friday<br>
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.SUN"
                                       ng-class="state.formInputClass">
                                Sunday
                            </div>
                            <div class="span6 col-sm-6">
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.TUE"
                                       ng-class="state.formInputClass">
                                Tuesday<br>
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.THU"
                                       ng-class="state.formInputClass">
                                Thursday<br>
                                <input type="checkbox"
                                       ng-disabled="ngDisabled"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.SAT"
                                       ng-class="state.formInputClass">
                                Saturday
                            </div>
                            <br><br><br><br>
                        </div>
                        Start time
                        <select class="hours"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'weekly'"
                                ng-model="state.weekly.hours"
                                ng-options="hour as padNumber(hour) for hour in selectOptions.hours"
                                ng-class="state.formSelectClass">
                        </select>
                        <select class="minutes"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'weekly'"
                                ng-model="state.weekly.minutes"
                                ng-options="minute as padNumber(minute) for minute in selectOptions.minutes"
                                ng-class="state.formSelectClass">
                        </select>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.monthly.isHidden"
                         ng-class="{'active': state.activeTab === 'monthly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="monthly-radio"
                                   checked="checked">
                            Day
                            <input class="days"
                                   type="number"
                                   min="1"
                                   max="31"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificDay.day"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificDay'"
                                   ng-class="state.formInputClass">
                            of every
                            <input class="months-small"
                                   type="number"
                                   min="1"
                                   max="11"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificDay.months"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificDay'"
                                   ng-class="state.formInputClass">
                            month(s)
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificWeekDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="monthly-radio">
                            <select class="day-order-in-month"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.monthly.specificWeekDay.monthWeek"
                                    ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                    ng-options="monthWeek as monthWeekDisplay(monthWeek) for monthWeek in selectOptions.monthWeeks"
                                    ng-class="state.formSelectClass">
                            </select>
                            <select class="week-days"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.monthly.specificWeekDay.day"
                                    ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                    ng-options="day as dayDisplay(day) for day in selectOptions.days"
                                    ng-class="state.formSelectClass">
                            </select>
                            of every
                            <input class="months-small"
                                   type="number"
                                   min="1"
                                   max="11"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificWeekDay.months"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                   ng-class="state.formInputClass">
                            month(s)
                        </div>
                        Start time
                        <select class="hours"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'monthly'"
                                ng-model="state.monthly.hours"
                                ng-options="hour as padNumber(hour) for hour in selectOptions.hours"
                                ng-class="state.formSelectClass">
                        </select>
                        <select class="minutes"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'monthly'"
                                ng-model="state.monthly.minutes"
                                ng-options="minute as padNumber(minute) for minute in selectOptions.minutes"
                                ng-class="state.formSelectClass">
                        </select>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.yearly.isHidden"
                         ng-class="{'active': state.activeTab === 'yearly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificMonthDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="yearly-radio">
                            Every
                            <select class="months"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthDay.month"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthDay'"
                                    ng-options="month as monthDisplay(month) for month in selectOptions.months"
                                    ng-class="state.formSelectClass">
                            </select>
                            in day
                            <input class="days"
                                   type="number"
                                   min="1"
                                   max="31"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.specificMonthDay.day"
                                   ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthDay'"
                                   ng-class="state.formInputClass">
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificMonthWeek"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="yearly-radio">
                            The
                            <select class="day-order-in-month"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.monthWeek"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="monthWeek as monthWeekDisplay(monthWeek) for monthWeek in selectOptions.monthWeeks"
                                    ng-class="state.formSelectClass">
                            </select>
                            <select class="week-days"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.day"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="day as dayDisplay(day) for day in selectOptions.days"
                                    ng-class="state.formSelectClass">
                            </select>
                            of
                            <select class="months"
                                    ng-disabled="ngDisabled"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.month"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="month as monthDisplay(month) for month in selectOptions.months"
                                    ng-class="state.formSelectClass">
                            </select>
                        </div>
                        Start time
                        <select class="hours"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'yearly'"
                                ng-model="state.yearly.hours"
                                ng-options="hour as padNumber(hour) for hour in selectOptions.hours"
                                ng-class="state.formSelectClass">
                        </select>
                        <select class="minutes"
                                ng-disabled="ngDisabled"
                                ng-change="regenerateCron(state)"
                                ng-required="state.activeTab === 'yearly'"
                                ng-model="state.yearly.minutes"
                                ng-options="minute as padNumber(minute) for minute in selectOptions.minutes"
                                ng-class="state.formSelectClass">
                        </select>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.advanced.isHidden"
                         ng-class="{'active': state.activeTab === 'advanced'}">
                        Cron Expression
                        <input type="text"
                               ng-disabled="ngDisabled"
                               ng-change="regenerateCron(state)"
                               ng-model="state.advanced.expression"
                               ng-required="state.activeTab === 'advanced'"
                               ng-class="state.formInputClass">

                        <p>More details about how to create these expressions can be found <a
                                href="http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html"
                                target="_blank">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
