<!doctype html>
<div class="cron-gen-main" ng-cloak>
    <ul class="nav nav-tabs tab-nav" role="tablist">
        <li ng-class="{'active': state.activeTab === 'minutes'}"
            ng-show="!state.minutes.isHidden"
            role="presentation">
            <a href="#"
               aria-controls="minutes"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'minutes', ngDisabled)">
                Minutes
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.hourly.isHidden"
            ng-class="{'active': state.activeTab === 'hourly'}">
            <a href="#"
               aria-controls="hourly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'hourly', ngDisabled)">
                Hourly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.daily.isHidden"
            ng-class="{'active': state.activeTab === 'daily'}">
            <a href="#"
               aria-controls="daily"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'daily', ngDisabled)">
                Daily
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.weekly.isHidden"
            ng-class="{'active': state.activeTab === 'weekly'}">
            <a href="#" aria-controls="weekly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'weekly', ngDisabled)">
                Weekly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.monthly.isHidden"
            ng-class="{'active': state.activeTab === 'monthly'}">
            <a href="#"
               aria-controls="monthly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'monthly', ngDisabled)">
                Monthly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.yearly.isHidden"
            ng-class="{'active': state.activeTab === 'yearly'}">
            <a href="#"
               aria-controls="yearly"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'yearly', ngDisabled)">
                Yearly
            </a>
        </li>
        <li role="presentation"
            ng-show="!state.advanced.isHidden"
            ng-class="{'active': state.activeTab === 'advanced'}">
            <a href="#"
               aria-controls="advanced"
               role="tab"
               data-toggle="tab"
               ng-click="setActiveTab($event, state, 'advanced', ngDisabled)">
                Advanced
            </a>
        </li>
    </ul>
    <div class="cron-gen-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane"
                         ng-show="!state.minutes.isHidden"
                         ng-class="{'active': state.activeTab === 'minutes'}">
                        Every
                        <select class="minutes"
                                name="minutesMinutes"
                                ng-disabled="ngDisabled || state.activeTab !== 'minutes'"
                                ng-change="regenerateCron(state)"
                                ng-model="state.minutes.minutes"
                                ng-required="state.activeTab === 'minutes'"
                                ng-options="minute as minute for minute in selectOptions.minutes"
                                ng-class="state.formSelectClass">
                        </select>
                        minute(s)
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.hourly.isHidden"
                         ng-class="{'active': state.activeTab === 'hourly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="every"
                                   name="hourly-radio"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.hourly.subTab"
                                   ng-class="state.formRadioClass"
                                   checked="checked">
                            Every
                            <select class="hours"
                                    name="hourlyEveryHours"
                                    ng-disabled="ngDisabled || state.activeTab !== 'hourly' || state.hourly.subTab !== 'every'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.hourly.every.hours"
                                    ng-required="state.activeTab === 'hourly' && state.hourly.subTab === 'every'"
                                    ng-options="hour as hour for hour in selectOptions.hours"
                                    ng-class="state.formSelectClass">
                            </select>
                            hour(s)
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specific"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.hourly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="hourly-radio">
                            At
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'hourly' || state.hourly.subTab !== 'specific'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="hourlySpecific"
                                    is-required="state.activeTab === 'hourly' && state.hourly.subTab === 'specific'"
                                    model="state.hourly.specific"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.daily.isHidden"
                         ng-class="{'active': state.activeTab === 'daily'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="everyDays"
                                   name="daily-radio"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.daily.subTab"
                                   ng-class="state.formRadioClass"
                                   checked="checked">
                            Every
                            <select class="days"
                                    name="dailyEveryDaysDays"
                                    ng-disabled="ngDisabled || state.activeTab !== 'daily' || state.daily.subTab !== 'everyDays'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.daily.everyDays.days"
                                    ng-required="state.activeTab === 'daily' && state.daily.subTab === 'everyDays'"
                                    ng-options="monthDay as monthDay for monthDay in selectOptions.monthDays"
                                    ng-class="state.formSelectClass">
                            </select>
                            day(s) starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'daily' || state.daily.subTab !== 'everyDays'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="dailyEveryDays"
                                    is-required="state.activeTab === 'daily' && state.daily.subTab === 'everyDays'"
                                    model="state.daily.everyDays"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="everyWeekDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.daily.subTab"
                                   ng-class="state.formRadioClass"
                                   name="daily-radio">
                            Every week day (Monday through Friday) starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'daily' || state.daily.subTab !== 'everyWeekDay'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="dailyEveryWeekDay"
                                    is-required="state.activeTab === 'daily' && state.daily.subTab === 'everyWeekDay'"
                                    model="state.daily.everyWeekDay"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.weekly.isHidden"
                         ng-class="{'active': state.activeTab === 'weekly'}">
                        <div class="well well-small">
                            <div class="span6 col-sm-6">
                                <input type="checkbox"
                                       name="weeklyMON"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.MON"
                                       ng-class="state.formCheckboxClass">
                                Monday<br>
                                <input type="checkbox"
                                       name="weeklyWED"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.WED"
                                       ng-class="state.formCheckboxClass">
                                Wednesday<br>
                                <input type="checkbox"
                                       name="weeklyFRI"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.FRI"
                                       ng-class="state.formCheckboxClass">
                                Friday<br>
                                <input type="checkbox"
                                       name="weeklySUN"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.SUN"
                                       ng-class="state.formCheckboxClass">
                                Sunday
                            </div>
                            <div class="span6 col-sm-6">
                                <input type="checkbox"
                                       name="weeklyTUE"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.TUE"
                                       ng-class="state.formCheckboxClass">
                                Tuesday<br>
                                <input type="checkbox"
                                       name="weeklyTHU"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.THU"
                                       ng-class="state.formCheckboxClass">
                                Thursday<br>
                                <input type="checkbox"
                                       name="weeklySAT"
                                       ng-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                       ng-change="regenerateCron(state)"
                                       ng-model="state.weekly.SAT"
                                       ng-class="state.formCheckboxClass">
                                Saturday
                            </div>
                            <br><br><br><br>
                        </div>
                        Start time
                        <cron-gen-time-select
                                is-disabled="ngDisabled || state.activeTab !== 'weekly'"
                                on-change="regenerateCron(state)"
                                name-prefix="weekly"
                                is-required="state.activeTab === 'weekly'"
                                model="state.weekly"
                                select-class="state.formSelectClass"
                                use-24-hour-time="state.use24HourTime">
                        </cron-gen-time-select>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.monthly.isHidden"
                         ng-class="{'active': state.activeTab === 'monthly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="monthly-radio"
                                   checked="checked">
                            Day
                            <input class="days"
                                   type="number"
                                   min="1"
                                   max="31"
                                   name="monthlySpecificDayDay"
                                   ng-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificDay.day"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificDay'"
                                   ng-class="state.formInputClass">
                            of every
                            <input class="months-small"
                                   type="number"
                                   min="1"
                                   max="11"
                                   name="monthlySpecificDayMonths"
                                   ng-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificDay.months"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificDay'"
                                   ng-class="state.formInputClass">
                            month(s) starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="monthlySpecificDay"
                                    is-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificDay'"
                                    model="state.monthly.specificDay"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificWeekDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="monthly-radio">
                            <select class="day-order-in-month"
                                    name="monthlySpecificWeekDayMonthWeek"
                                    ng-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.monthly.specificWeekDay.monthWeek"
                                    ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                    ng-options="monthWeek as monthWeekDisplay(monthWeek) for monthWeek in selectOptions.monthWeeks"
                                    ng-class="state.formSelectClass">
                            </select>
                            <select class="week-days"
                                    name="monthlySpecificWeekDayDay"
                                    ng-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.monthly.specificWeekDay.day"
                                    ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                    ng-options="day as dayDisplay(day) for day in selectOptions.days"
                                    ng-class="state.formSelectClass">
                            </select>
                            of every
                            <input class="months-small"
                                   type="number"
                                   min="1"
                                   max="11"
                                   name="monthlySpecificWeekDayMonths"
                                   ng-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.monthly.specificWeekDay.months"
                                   ng-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                   ng-class="state.formInputClass">
                            month(s) starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="monthlySpecificWeekDay"
                                    is-required="state.activeTab === 'monthly' && state.monthly.subTab === 'specificWeekDay'"
                                    model="state.monthly.specificWeekDay"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>

                    </div>
                    <div class="tab-pane"
                         ng-show="!state.yearly.isHidden"
                         ng-class="{'active': state.activeTab === 'yearly'}">
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificMonthDay"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="yearly-radio">
                            Every
                            <select class="months"
                                    name="yearlySpecificMonthDayMonth"
                                    ng-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthDay.month"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthDay'"
                                    ng-options="month as monthDisplay(month) for month in selectOptions.months"
                                    ng-class="state.formSelectClass">
                            </select>
                            in day
                            <input class="days"
                                   type="number"
                                   min="1"
                                   max="31"
                                   name="yearlySpecificMonthDayDay"
                                   ng-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.specificMonthDay.day"
                                   ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthDay'"
                                   ng-class="state.formInputClass">
                            starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                                    on-change="regenerateCron(state)"
                                    is-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthDay'"
                                    name-prefix="yearlySpecificMonthDay"
                                    model="state.yearly.specificMonthDay"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                        <div class="well well-small">
                            <input type="radio"
                                   value="specificMonthWeek"
                                   ng-disabled="ngDisabled"
                                   ng-change="regenerateCron(state)"
                                   ng-model="state.yearly.subTab"
                                   ng-class="state.formRadioClass"
                                   name="yearly-radio">
                            The
                            <select class="day-order-in-month"
                                    name="yearlySpecificMonthWeekMonthWeek"
                                    ng-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.monthWeek"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="monthWeek as monthWeekDisplay(monthWeek) for monthWeek in selectOptions.monthWeeks"
                                    ng-class="state.formSelectClass">
                            </select>
                            <select class="week-days"
                                    name="yearlySpecificMonthWeekMonthDay"
                                    ng-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.day"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="day as dayDisplay(day) for day in selectOptions.days"
                                    ng-class="state.formSelectClass">
                            </select>
                            of
                            <select class="months"
                                    name="yearlySpecificMonthWeekMontMonth"
                                    ng-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                                    ng-change="regenerateCron(state)"
                                    ng-model="state.yearly.specificMonthWeek.month"
                                    ng-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    ng-options="month as monthDisplay(month) for month in selectOptions.months"
                                    ng-class="state.formSelectClass">
                            </select>
                            starting at
                            <cron-gen-time-select
                                    is-disabled="ngDisabled || state.activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                                    on-change="regenerateCron(state)"
                                    name-prefix="yearlySpecificMonthWeek"
                                    is-required="state.activeTab === 'yearly' && state.yearly.subTab === 'specificMonthWeek'"
                                    model="state.yearly.specificMonthWeek"
                                    select-class="state.formSelectClass"
                                    use-24-hour-time="state.use24HourTime">
                            </cron-gen-time-select>
                        </div>
                    </div>
                    <div class="tab-pane"
                         ng-show="!state.advanced.isHidden"
                         ng-class="{'active': state.activeTab === 'advanced'}">
                        Cron Expression
                        <input type="text"
                               class="advanced-cron-gen-input"
                               name="advancedExpression"
                               ng-disabled="ngDisabled || state.activeTab !== 'advanced'"
                               ng-change="regenerateCron(state)"
                               ng-model="state.advanced.expression"
                               ng-required="state.activeTab === 'advanced'"
                               ng-class="state.formInputClass">

                        <p>More details about how to create these expressions can be found <a
                                href="http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html"
                                target="_blank">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
